body {
    margin: 0;
    background-color: #a0c334;
    font-family: 'Muli', sans-serif;
}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__img {
    width: 200px;
}
.login {
    background: linear-gradient(#a0c334, #a32f80);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: calc(100vh-200px);
}
.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form {
    display: flex;
    flex-direction: column;
}
.login__container--label{
    font-size: 14px;
}
.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.login__container--remember-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.login__container--remember-me a:hover{
    text-decoration: underline;
}
.login__container--social-media>div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login__container--social-media>div>img{
    width: 30px;
    margin-right: 10px;
}
.login__container--register {
    font-size: 14px;
}
.login__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.login__container--register a:hover {
    text-decoration: underline;
}
.input {
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}
.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background:#a32f80;
}
.footer a {
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column; 
    }
}
